body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3a5f67;
  color: #ffffff;
}
ul {
  li {
    list-style-type: none;
  }
}
p {
  margin: 0;
}

#main-container {
  padding: 0px;
  padding-bottom: 50px;
  #content-container {
    padding-top: 100px;
    .inner-container {
      background: rgba(0,0,0,0.4);
      margin: 0;
      padding: 7px;
      h2 {
        font-size: 22px;
        text-transform: uppercase;
      }
      .content-data {
        background: rgba(0,0,0,0.4);
      }
    }
  }
}